/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #f0f0f0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-bottom: 2px solid #444;
}

h1 {
    font-size: 2.5rem;
    color: #e50914;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.movie-detail {
    background-color: #222;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movie-detail img {
    width: 100%;
    height: 300px;
    max-width: 400px;
    border-radius: 6px;
    margin-bottom: 20px;
    object-fit: cover;

}

.movie-detail h2 {
    font-size: 2rem;
    color: #f0f0f0;
    margin-bottom: 15px;
}

.movie-detail p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}

strong {
    color: #e50914;
}

.comments-section {
    margin-top: 40px;
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    text-align: left;
}

.comments-section h3 {
    font-size: 1.8rem;
    color: #f0f0f0;
    margin-bottom: 15px;
}

.comments-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}

@media (max-width: 768px) {
    .movie-detail {
        padding: 15px;
    }

    .comments-section {
        padding: 15px;
    }
}