<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEPI Cine Club</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <h2 class="logo">FEPI Cine Club</h2>
    </header>
    <div class="movie-grid">
        <div class="film">
            <img src="{% static 'img\cartaz\1-ResidentEvil6.png' %}" alt="Filme 1">
            <h2>Resident Evil 6</h2>
            <button onclick="goToDetail('1')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\2-Oppenheimer.png' %}" alt="Filme 2">
            <h2>Oppenheimer</h2>
            <button onclick="goToDetail('2')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\3-UnderworldBloodWars.jpg' %}" alt="Filme 3">
            <h2>Anjos da Noite</h2>
            <button onclick="goToDetail('3')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\4-BlackWidow.jpg' %}" alt="Filme 4">
            <h2>Viuva Negra</h2>
            <button onclick="goToDetail('4')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\5-Deadpool&Wolverine.jpg' %}" alt="Filme 5">
            <h2>Deadpool & Wolverine</h2>
            <button onclick="goToDetail('5')">Saiba mais</button>
        </div>
        <!--2ª FILEIRA DE FILMES-->
        <div class="film">
            <img src="{% static 'img\cartaz\6-AvengersEndgame.jpg' %}" alt="Filme 6">
            <h2>Vingadores Endgame</h2>
            <button onclick="goToDetail('6')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\7-ÉAssimQueAcaba.jpg' %}" alt="Filme 7">
            <h2>É Assim Que Acaba</h2>
            <button onclick="goToDetail('7')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\8-VelozesEFuriosos.png' %}" alt="Filme 7">
            <h2>Velozes e Furiosos 6</h2>
            <button onclick="goToDetail('8')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\9-lucy.jpg' %}" alt="Filme 7">
            <h2>Lucy</h2>
            <button onclick="goToDetail('9')">Saiba mais</button>
        </div>
        <div class="film">
            <img src="{% static 'img\cartaz\10-AFalhaDeSanAndreas.jpg' %}" alt="Filme 7">
            <h2>Falha de San Andreas</h2>
            <button onclick="goToDetail('10')">Saiba mais</button>
        </div>
    </div>
    <script src="{% static '/js/script.js' %}"></script>
</body>

</html>