<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ filme.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <h1>{{ filme.titulo }}</h1>
    </header>
    <main>
        <div class="movie-detail">
            <img src="{% static filme.poster %}" alt="Poster do Filme">  <!-- Corrigido -->
            <!--<h2>{{ filme.titulo }}</h2>-->
            <p><strong>Sinopse:</strong> {{ filme.sinopse }}</p>
            <p><strong>Elenco:</strong> {{ filme.elenco }}</p>
        </div>
        <div class="comments-section">
            <h3>Comentários</h3>
            <p>Aqui estarão os Comentários</p>
        </div>
    </main>
</body>

</html>